In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
hsns_dd_df = pd.read_csv('/Users/kdgulko/dsi/dsi_workspace/projects/project-capstone/capstone_data/HSNS+DD/hsns_dd_data.csv', delim_whitespace=True)

In [15]:
hsns_dd_df.shape

(53981, 26)

In [16]:
hsns_dd_df.head()

,HSNS1,HSNS2,HSNS3,HSNS4,HSNS5,HSNS6,HSNS7,HSNS8,HSNS9,HSNS10,...,DDN3,DDN4,DDM1,DDM2,DDM3,DDM4,age,gender,accuracy,country
0,2,4,5,1,4,5,4,3,3,2,...,1,1,1,2,2,1,37,2,98,PT
1,4,2,2,4,3,4,4,5,4,3,...,2,3,4,4,4,3,34,3,95,PL
2,5,5,5,4,2,5,5,4,4,2,...,4,3,3,4,4,2,22,2,80,AU
3,4,1,2,2,4,5,2,2,5,2,...,4,1,4,2,3,4,24,1,99,US
4,5,3,4,5,5,5,4,5,4,3,...,5,2,4,4,1,5,21,2,90,US

In [17]:
new_df = hsns_dd_df.drop('age', axis=1)
new_df = new_df.drop('accuracy', axis=1)
new_df = new_df.drop('country', axis=1)
new_df = new_df.drop('gender', axis=1)

In [18]:
new_sum_df = new_df.copy()

In [19]:
hyper_sen_cols = [col for col in new_df.columns if col.startswith('HSNS')]
hs_df = new_sum_df[hyper_sen_cols]

In [20]:
psycho_cols = [col for col in new_df.columns if col.startswith('DDP')]
ddp_df = new_sum_df[psycho_cols]

In [21]:
narc_cols = [col for col in new_df.columns if col.startswith('DDN')]
ddn_df = new_sum_df[narc_cols]

In [22]:
masc_cols = [col for col in new_df.columns if col.startswith('DDM')]
ddm_df = new_sum_df[masc_cols]

In [23]:
new_sum_df['HSNS_sum'] = new_sum_df[hyper_sen_cols].sum(axis=1)

In [24]:
new_sum_df['DDP_sum'] = new_sum_df[psycho_cols].sum(axis=1)

In [25]:
new_sum_df['DDN_sum'] = new_sum_df[narc_cols].sum(axis=1)

In [26]:
new_sum_df['DDM_sum'] = new_sum_df[masc_cols].sum(axis=1)

In [27]:
new_sum_df['HSNS1'].mean()

3.7616013041625758

In [28]:
sum_df = new_sum_df[['HSNS_sum','DDP_sum','DDN_sum','DDM_sum']].copy()

In [ ]:
sns.pairplot(sum_df, x_vars=sum_df, y_vars=sum_df)

In [ ]:
plt.figure(figsize=(20,6))
corr = new_df.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask, 0)] = True
with sns.axes_style("white"):
    ax = sns.heatmap(corr, mask=mask, square=True,
                     cmap='RdBu')
    plt.xticks(rotation=90, ha='center')

In [ ]:
plt.figure(figsize=(10,6))
corr = sum_df.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask, 0)] = True
with sns.axes_style("white"):
    ax = sns.heatmap(corr, mask=mask, square=True,
                     cmap='RdBu')
    plt.xticks(rotation=90, ha='center')

In [ ]:
fig, axes = plt.subplots(6, 4)
axes = axes.flatten()
fig.set_size_inches(20, 20)
fig.suptitle('Distribution of Features')

for i, col in enumerate(new_df.columns):
    feature = new_df[col]
    sns.distplot(feature, label=col, ax=axes[i]).set(xlim=(1, 5),)
    axes[i].axvline(feature.mean(),linewidth=2)
    axes[i].axvline(feature.median(),linewidth=2, color='r')

In [ ]:
new_df.columns

In [ ]:
from sklearn.decomposition import PCA 
from sklearn.preprocessing import StandardScaler

In [34]:
ss = StandardScaler().fit_transform(new_df)
pca = PCA(n_components=5)
pca.fit_transform(new_df)

In [1]:
!pip install twython

Collecting twython
  Downloading twython-3.4.0.tar.gz
Requirement already satisfied: requests>=2.1.0 in /Users/kdgulko/anaconda/lib/python2.7/site-packages (from twython)
Requirement already satisfied: requests_oauthlib>=0.4.0 in /Users/kdgulko/anaconda/lib/python2.7/site-packages (from twython)
Requirement already satisfied: oauthlib>=0.6.2 in /Users/kdgulko/anaconda/lib/python2.7/site-packages (from requests_oauthlib>=0.4.0->twython)
Building wheels for collected packages: twython
  Running setup.py bdist_wheel for twython ... - done
  Stored in directory: /Users/kdgulko/Library/Caches/pip/wheels/48/e9/f5/a4c968725948c73f71df51a3c6759425358c1eda2dcf2031f4
Successfully built twython
Installing collected packages: twython
Successfully installed twython-3.4.0

In [2]:
from nltk.twitter import Query, Streamer, Twitter, TweetViewer, TweetWriter, credsfromfile

In [9]:
tweets = ('twitter_feeds/twitter2_16.txt')

In [10]:
def parse_tweet(data):
    return {
        '_id' : data.get('id', None),
        'created_at' : data.get('created_at', None),
        'user_id' : data['user']['screen_name'],
        'user_name' : data['user']['name'],
        'text' : data.get('text', None),
        'url' : data.get('url'),
        'favorite_count' : data.get('favorite_count', None),
        'retweet_count' : data.get('retweet_count', None)
    }

In [11]:
parse_tweet(tweets)

AttributeError: 'str' object has no attribute 'get'

In [ ]:
#  This data was collected through an online personality test billed as "Dark Triad Personality Test".

# It was constructed with several scales, this data covers two of them:

# 1. The Hyper Sensitive Narcissism Scale. Hendin, H.; & Cheek, J. (1997). "Assessing Hypersensitive Narcissism: A Re-examination of Murray\'s Narcissism Scale". Journal of Research in Personality, 31, 588-599.
# 2. The Dirty Dozen. Jonason, P.; Webster, G. (2010). "The Dirty Dozen: A Concise Measure of the Dark Triad". Psychological Assessment, 22(2), 420ñ432.

# These two yielded the following items that were rated on a five point scale (1 labelled as "Disagree", 3 labelled as "Neutral", 5 labelled as "Agree"; 0 = missed)
text ="""
I can become entirely absorbed in thinking about my personal affairs, my health, my cares or my relations to others.
My feelings are easily hurt by ridicule or the slighting remarks of others.
When I enter a room I often become self conscious and feel that the eyes of others are upon me.
I dislike sharing the credit of an achievement with others.
I feel that I have enough on my hands without worrying about other people's troubles.
I feel that I am temperamentally different from most people.
I often interpret the remarks of others in a personal way.
I easily become wrapped up in my own interests and forget the existence of others.
I dislike being with a group unless I know that I am appreciated by at least one of those present.
I am secretly "put out" or annoyed when other people come to me with their troubles, asking me for my time and sympathy.
I tend to manipulate others to get my way.
I have used deceit or lied to get my way.
I have used flattery to get my way.
I tend to exploit others towards my own end.
I tend to lack remorse.
I tend to not be too concerned with morality or the morality of my actions.
I tend to be callous or insensitive.
I tend to be cynical.
I tend to want others to admire me.
I tend to want others to pay attention to me.
I tend to seek prestige or status.
I tend to expect special favors from others.
"""

In [ ]:
print text

In [ ]:
from nltk.corpus import stopwords

stop = stopwords.words('english')
words =  [i for i in text.split() if i not in stop]

more_stop = ['I', 'tend', 'to', 'be', 'want']

corpus = []

for words in text:
    lower_text = words.lower() #lowercase everything just in case
    tokens = tokenizer.tokenize(lower_text)
    tokens = [token for token in tokens if len(token) > 1 and type(token) != int and token not in more_stop]
    corpus.append(tokens)

In [ ]:
more_stop = ['I', 'tend', 'to', 'be', 'want']

corpus = []

for i in new_bag:
    words = [i for i in new_bag if i not in more_stop]
    corpus.append(words)

In [ ]:
corpus