In [1]:
import pandas as pd

In [4]:
%%timeit
pass

The slowest run took 276.35 times longer than the fastest. This could mean that an intermediate result is being cached.
100000000 loops, best of 3: 10.4 ns per loop

In [7]:
tw_df = pd.DataFrame([{'text': 'Just posted a video https://t.co/RCV7MVi8rs', 'user': 'elonmusk'},
                      {'text': 'https://t.co/6Ve3YJoStm', 'user': 'elonmusk'},
                      {'text': 'Baby came back https://t.co/5FRhw3AT2b', 'user': 'elonmusk'},
                      {'text': 'RT @SpaceX: Falcon 9 first stage has landed at...', 'user': 'elonmusk'},
                      {'text': '@mattnewby no', 'user': 'elonmusk'}])

In [8]:
tw_df

                                                text      user
0        Just posted a video https://t.co/RCV7MVi8rs  elonmusk
1                            https://t.co/6Ve3YJoStm  elonmusk
2             Baby came back https://t.co/5FRhw3AT2b  elonmusk
3  RT @SpaceX: Falcon 9 first stage has landed at...  elonmusk
4                                      @mattnewby no  elonmusk

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
tfidf = TfidfVectorizer(stop_words='english')

In [12]:
tw_enc = tfidf.fit_transform(tw_df['text'])

In [14]:
tw_enc.todense()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.317527,0.474125,0.000000,0.0,0.474125,0.474125,0.000000,0.000000,0.000000,0.474125
1,0.000000,0.830881,0.000000,0.000000,0.000000,0.556451,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.538498,0.000000,0.538498,0.538498,0.000000,0.360638,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000,0.000000,0.447214,0.0,0.000000,0.000000,0.447214,0.447214,0.447214,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
from sklearn.decomposition import TruncatedSVD

In [16]:
svd = TruncatedSVD(n_components=5)

In [18]:
pd.DataFrame(svd.fit_transform(tw_enc))

              0             1             2             3             4
0  6.143058e-01  0.000000e+00  0.000000e+00  7.260357e-01 -3.090317e-01
1  7.253295e-01  5.860930e-19  2.703876e-16 -7.928513e-02  6.838209e-01
2  6.534131e-01  1.794774e-16  1.514390e-15 -5.945704e-01 -4.685482e-01
3  3.027175e-17  9.922779e-01 -1.240347e-01 -8.407326e-18  1.796966e-17
4 -1.191086e-15  1.240347e-01  9.922779e-01  9.279725e-16  5.309974e-16